/* Default styling is for mobile */
body,
html {
  font-family: "Poppins", sans-serif;
}

.feature-container {
  background-color: hsl(0, 0%, 98%);
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 3.3rem;
  box-sizing: border-box;
}
.feature-intro-section {
  padding: 0.3rem;
  padding-top: 0rem;
  box-sizing: border-box;
}
h2 {
  font-weight: 200;
  margin-bottom: 1rem;
  letter-spacing: 0.1px;
}
#bold-title {
  font-weight: 600;
}
.feature-intro-section p {
  margin-top: 0rem;
  text-align: center;
  font-size: 3.555vw;
  line-height: 1.65;
}
.card-container {
  background-color: white;
  margin-top: 3rem;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 5px;
}
#supervisor {
  border-top: 3px solid hsl(180, 62%, 55%);
  margin-top: 3.5rem;
}
#supervisor h3 {
  margin-top: 0rem;
}

#team-builder {
  margin-top: 1rem;
}

.card-img-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}
.card-img-container img {
  width: 21%;
}

footer {
  margin-top: 3rem;
  text-align: center;
}
