/* Default styling is for mobile */
body,
html {
  font-family: "Poppins", sans-serif;
}

.feature-container {
  background-color: (0, 0%, 98%);
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  max-width: 81%;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 3.3rem;
  box-sizing: border-box;
}

footer {
  margin-top: 3rem;
  text-align: center;
}
